header.mdl-layout__header.mdl-layout__header--transparent {
    background-color: #646464;
}

span.mdl-layout-title {
  color: #fff;
  font-size: 3rem;
  line-height: 2rem;
}

.mdl-navigation__link .material-icons {
    color: #A6B0A8;
}

.email {
  color: #A6B0A8;
  margin-left: 10px;
}
