<% if user_signed_in? %>
  
  <div class="head">
    
    <div class="profile">
       <div class="photo">
         <%= image_tag current_user.picture_facebook_square %>
       </div>
       <div class="info">
         <div class="name">
           <%= current_user.name %>
         </div>
         <div class="logout">
           <%= link_to "Log Out", destroy_user_session_path %>
         </div>
       </div>
     </div>
    
  </div>
  
  <div class="main">
    
    <div class="filter"></div>    
    
  </div>
  
 

  
  <div class="messages"></div>
  <div name="logs"></div>
  
<% else %>
  <%= link_to "Ola, preciso me logar ", new_user_session_path %>
<% end %>
