/*
 *
 *= require_tree .
 *= require_self
 */

.profile {
  height: 60px;
  background: #32363A;
}

.profile > .photo {
  float: left;
  margin: 5px;
}

.profile > .photo > img {
  width: 50px;
  height: 50px;

  background-color: #222;
}

.profile > .info {
  height: 60px;
}

.profile > .info > .name {
  color: #79C5CE;
  color: #EFE8E1!important;
  font-weight: bold;
  font-size: 1em;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile > .info > .logout {
  height: 16px;
}

.profile > .info > .logout > a {
  color: #fff;
  font-size: 14px;
  padding-left: 2px;
}


.filter{
  height: 40px;
  width: 100%;
  background-color: #222;
  display: table;
}

.filter .form-inline {
  color: #fff;
  padding: 5px 10px;
  float: left;
}

.filter > .collapse-filter > button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.form-inline .form-group {
  margin-left: 20px;
}


.form-inline .form-2group {
  float: left;
}

.collapse-button{
  display: none;
  float: right;
  background: #AAA;
  width: 30px; height: 30px;  
}

#collapsed-filter{
  display: none;
}

@media screen and (max-width: 767px){
  .collapse-button{
    display: table;
  }
  .form-inline  button{
    margin-left: 20px;
  }
  .filter .form-inline {
    width: 80%; 
  }
  .collapse-filter{
    display: none;
  }
  #collapsed-filter:checked + .collapse-filter{
    display: block;
  }
}

.messages {
    text-align: center;
}

.undo {
  color: #8a6d3b;
  font-weight: bold;
  cursor: pointer;
}

.undo:hover {
    color: #000;
}

.display_message {
  height: 30px;
  color: red;
  text-align: center;
  font-size: 20px;
}


/* FormBuilder
@media only screen and (min-width: 768px) {
  .section {
      margin: auto;
      width: 30%;
  }
}
*/
  
.section {
    display: flex;
}

.input-group {
    position: relative;
    flex-direction: row;
    border-collapse: separate;
    display: flex;
    width: 100%;
}

.input-group-addon {
    width: 20%;
}

.list-group {
    width: 100%;
    margin-bottom: 0;
}

li.list-group-item:hover {
    background-color: #999;
}

li.list-group-item {
    cursor: pointer;
    text-align: center;
    color: #A53B3D!important;
    font-weight: bold;
}



body {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  height:100%;
}

.head {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.main {
      flex: 2 100%;
      position: relative;
      top: 60px;
      width: 100%;
      height: 100%;
}

.filter {
/*    height: calc(100vh - 60px);*/
    width: 100%;
    background-color: #222;
    position: absolute;
    overflow-y: auto;
}

.container {
  padding: 0;
}

.btn-primary, .btn-primary.active, .btn-primary:active {
    background: rgb(108, 3, 6)!important;
    border-color: rgb(147, 44, 44)!important;
    font-size: 1em;
    line-height: 1;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {      
  background: url(/assets/background_noise.png) 50% 50% repeat #A53B3D;
  color: #EFE8E1!important;
  border-color: #EFE8E1!important;
}

.display {
    text-align: center;
    margin: auto;
    background-color: #fff;
    width: 100%;
    padding: 2em;
}